npm-debug.log*

node_modules
coverage
reports
.tmp
.cache
.project
.settings
.tmproj
.iml
.buildpath
.metadata
.vscode
.idea
dist/*
!dist/index.html
build
.nyc_output
backup

*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swptouch
*.vi
*~
*.sass-cache

.DS_Store
apiState.json
Thumbs.db
atlassian-*
nbproject
typings

secret.yaml
config/local.json